body.dark-mode {
    background-color: #121212;
    color: white;
}
  
.dark-mode .navbar{
    background-color: #121212;
    box-shadow: white;
}
  
.dark-mode a{
    color: #ffffff;
}

body.dark-mode .right {
    background-color: #121212;
    color: white;
}


.theme-toggle-button:active {
    transform: scale(0.95);
}
  
.dark-mode .theme-toggle-button {
    background-color: #121212;
    color: #ffffff;
    border: 2px solid #ffffff;
}
  
.dark-mode .theme-toggle-button:hover {
    background-color: #ffffff;
    color: #121212;
    border: 2px solid #121212;
}

.dark-mode footer .links{
    color: white;
}