@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.icon-iA {
  width: 20px;
}

.absolut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

.inicio {
  display: flex;
  align-items: center;
  padding: 24px 80px 128px 80px;
  position: relative;
}

img {
  object-fit: cover;
}

body {
  background-color: #f1f1f1;
  color: #000;
}



.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  transition: background-color 0.3s, color 0.3s;
}

nav .links a:not(:last-child) {
  margin-left: 20px;
  gap: 200px;
}

header {
  padding: 0 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .left {
  width: 700px;
}

header .left h1 {
  font-size: 80px;
}

header .left h1 span {
  color: #0435f8;
}

header img {
  width: 600px;
}

h2.separator {
  padding: 0 80px;
  font-size: 40px;
  margin-top: 90px;
}

.sell-nft {
  padding: 0 80px;
  margin: 50px 0 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.sell-nft .item,
.nft-shop .nft-list .item {
  padding: 20px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sell-nft .item:hover,
.nft-shop .nft-list .item:hover,
.sellers .item:hover {
  box-shadow: none;
}

.sell-nft .item .header {
  display: flex;
  align-items: center;
  gap: 10px;
}

sell-nft .item .header i {
  font-size: 40px;
}

sell-nft .item .header h5 {
  font-size: 17px;
}

sell-nft .item p {
  margin: 10px;
  padding: 0 4px;
}

.nft-shop {
  padding: 0 80px;
  margin: 30px;
}

.nft-shop .category {
  display: flex;
  gap: 14px;
}

.nft-shop .category a {
  background-color: #dfdcdc;
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 14px;
  transition: all 0.3s ease;
}

.nft-shop .category a:hover {
  background-color: #0f2182;
  color: #fff;
}
.nft-shop .nft-list {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nft-shop .nft-list .item img {
  width: 280px;
  height: 280px;
  border-radius: 18px;
}

.nft-shop .nft-list .item .info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid #edecec;
}

.nft-shop.nft-list.item.info h5 {
  font-size: 17px;
}

.nft-shop .nft-list .item .info .btc {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nft-shop .nft-list .item .btc i {
  font-size: 12px;
  color: #304ffe;
}

.nft-shop .nft-list .item .btc p {
  font-size: 12px;
  color: #304ffe;
}

.nft-shop .nft-list .item .info > p {
  font-size: 12px;
  color: #989898;
}

.nft-shop .nft-list .item .bid {
  padding: 14px 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nft-shop .nft-list .item .bid p,
.nft-shop .nft-list .item .bid a {
  background-color: #dfdfdf;
  padding: 6px 10px;
  font-size: 13px;
  border-radius: 10px;
}

.nft-shop .nft-list .item .bid a {
  color: #304ffe;
  background: transparent;
  font-weight: bold;
  transition: all 0.3s ease;
}

.nft-shop .nft-list .item .bid a:hover {
  background-color: #000;
  color: #fff;
}

.ia {
  padding: 0 80px;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ia .left {
  width: 700px;
  display: grid;
}

.ia .left h1 {
  font-size: 80px;
  text-align: center;
}

.ia .left h6 {
  text-align: center;
  font-size: 20px;
}

.ia .left p {
  font-size: 15px;
  margin-left: 20px;
}

.ia .left img {
  width: 700px;
}

#DALL-E {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  color: #0f0f0f;
  font-size: 15px;
  margin-left: 20px;
}

.right h1 {
  font-size: 70px;
  text-align: center;
}

.right p {
  font-size: 15px;
  margin-left: 20px;
}

#DALL-E img {
  max-width: 100%;
}

.sellers {
  padding: 0 80px;
  display: flex;
  gap: 30px;
}

.sellers .item {
  background: #fff;
  display: flex;
  align-items: center;
  width: 25%;
  gap: 14px;
  padding: 14px;
  cursor: pointer;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sellers .item img {
  width: 64px;
  border-radius: 30%;
}

.sellers .item .info p {
  font-size: 14px;
  margin-top: 8px;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 100px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h3 {
  font-size: 48px;
}

footer .right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 26px;
}

footer .right .links {
  display: flex;
  gap: 30px;
}

footer .right .links a {
  color: #989898;
  transition: color 0.3s ease;
}

footer.right.links a:hover {
  color: #fff;
}

footer .right .social {
  display: flex;
  align-items: center;
  gap: 10px;
}




footer .right .links p {
  font-size: 13px;
  color: #777;
}

.theme-toggle-button {
  background-color: #ffffff;
  border: 2px solid #121212;
  color: #121212;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.theme-toggle-button:hover {
  background-color: #121212;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.imagemia{
  width: 600px;
  
}